<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Active spaceships</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

<table>
  <tr>
    <th>Registration code:</th>
    <th>Name:</th>
    <th>Class:</th>
    <th>Active:</th>
  </tr>
  <tr data-th-each="ship: ${spaceShips}">
    <td data-th-text="${ship.registrationCode}"></td>
    <td data-th-text="${ship.name}"></td>
    <td data-th-text="${ship.spaceShipClass}"></td>
    <td data-th-text="${ship.isActive}"></td>
  </tr>
  <form data-th-action="@{/spaceshipisactivedata}" data-th-object="${spaceShips}" method="post">
    <tr>
      <td colspan="2"><button type="submit">Összes hajó</button></td>
    </tr>
  </form>
</table>

</body>

</html>